.barras{
	font-size: 10px;
	background-color: green;
	text-align: right;
	padding: 8px;
	margin-right: 3px;
	color: white;
	width: 25px;
	height: 100px;
	margin-top: 2px;
	display: inline-block;
}


svg{
	border: 1px solid #aaa;

}

rect{
	fill: SteelBlue;
}

line{
	stroke: purple;
}

text{
	fill: gray;
	font-size: 10px;
	font-family: Helvetica;
	text-anchor: middle;
}

circle{
	fill: blue;
	stroke: orange;
	stroke-width: 5px;
}